@import "src/styles/variables";

.section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 80%;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($productCardWidth, 1fr));
  grid-auto-rows: auto;
  grid-gap: $gutter;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  h3 {
    font-size: 3rem;
  }
}

.hideButton {
  outline: none;
  text-transform: uppercase;
  border: 1px solid $red;
  color: $red;
  font-size: 1.4rem;
  padding: 2rem;
  border-radius: $borderRadius;
  cursor: pointer;
  background-color: $lightGrey;
  width: 20rem;
}
