// Space
$productCardWidth: 30rem;
$gutter: 2rem;
$headerHeight: 7rem;
$borderRadius: 4px;

// Colors
$blackOlive: #393e41;
$lightGrey: #d3d0cb;
$white: #fff8f0;
$red: #9e2b25;

// Typo
$font: "Open Sans", sans-serif;

// z-index
$likeIndex: 99;
